a{
    text-decoration: none;
    color: inherit;
}

.div--table{
    background-color: antiquewhite;
}

table{
    background-color: rgb(64, 64, 63);
    border-radius: 20px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

th{
    width: max-content;
    padding-left: 20px;
    text-align: center;
    color: white;
    font-weight:bolder;
}

td{
    width: max-content;
    padding-left: 20px;
    text-align: center;
    color: white;
}

form{
    width: min-content;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgb(64, 64, 63);
    color: inherit;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

input{
    border-radius: 5px;
}

.submit{
    margin-top: 20px;
    border-radius: 10px;
}